# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node modules
node_modules/

# Временные файлы
voice/temp/*
!voice/temp/.gitkeep

# Архивы
*.zip

# Конфиденциальная информация
.env

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Операционные системы
.DS_Store
Thumbs.db

# Логи
*.log

# Дистрибутивы
dist/
build/
*.egg-info/ 